<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BCI Square </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/lugares">Lugares</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/lugares">Lugares ROUTER </a>
        </li>
          <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" href="/detalle">Detalle</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/detalle">Detalle ROUTER</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/contacto">Contacto ROUTER</a>
        </li>
    </ul>
  </div>
</nav>
  
<h2>App component HTML</h2>
<span>Lista en duro</span>
<ul>
  <li>Florería la Guarderaía </li>
  <li>Donas la pasadita </li>
  <li>Veterinaria Huellitas Felices </li>
</ul>
<hr/>
<p>PREGUNTA 1: SE PUEDE ESCONDER EL PARÁMETRO QUE SE ESTÁ ENVIANDO? ACTUALMENTE EN LA URL SE ENVÍA EL ID Y SE VE </p>
<p>PREGUNTA 2: Los parametros por query son buena práctica o mala práctica?</p>
<p>PREGUNTA 3: Los ID de firebase, cómo gestionarlos? es decir, un registro nuevo por cada "actualizacion/mudoficadción"</p>
<p>PREGUNTA 4: ¿Qué es una "promesa" en el servicio?</p>
<p>PREGUNTA 5: ¿Cuál es la diferencia entre un operador y un objeto? (minuto 2:50 de la clase 44) </p>


<router-outlet></router-outlet>