<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BCI Square </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/lugares">Lugares</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/lugares">Lugares ROUTER </a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" href="/detalle">Detalle</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="/detalle">Detalle ROUTER</a>
        </li>
    </ul>
  </div>
</nav>
  
<h2>App component HTML</h2>
Lista en duro
<ul>
  <li>Florería la Guarderaía </li>
  <li>Donas la pasadita </li>
  <li>Veterinaria Huellitas Felices </li>
</ul>
<hr/>
PREGUNTA: SE PUEDE ESCONDER EL PARÁMETRO QUE SE ESTÁ ENVIANDO? ACTUALMENTE EN LA URL SE ENVÍA EL ID Y SE VE 
PREGUNTA2: Los parametros por query son buena práctica o mala práctica?

<router-outlet></router-outlet>